table,
td,
th {
  border: solid 1px black;
  border-collapse: collapse;
}

td,
th {
  min-width: 100px;
  padding: 10px;
}

tr:not(.header_row) {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

table {
  margin: 20px;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort_icon {
  cursor: pointer;
  margin-left: 5px;
  padding: 2px;
  user-select: none;
  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
